*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
.header{
    background-image: url(/images/banner/banner2.png);
    position: absolute;
    width: 1600px;
    height: 809px;
}
.header-title{
    margin-top: 216px;
    margin-bottom: 24px;
    margin-left: 844px;
    margin-right: 231px;
    font-size: 65px;
    font-weight: 700;
    line-height: 76px;
    letter-spacing: 0em;
    text-align: right;
    
}
.header-desc{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
/* or 162% */
    text-align: right;
    color: #444343;
    margin-left: 875px;
    margin-right: 231px;
}
.btn-primary{
    margin-top: 31px;
    margin-bottom: 160px;
    margin-left: 1210px;
    margin-right: 231px;
    border-radius: 5px;
    background: #FD6E0A;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: right;
    border: 0px;
    color: #FFFFFF;


}
.banner{
    display: flex;
    align-items: center;
    position: absolute;
    width: 1072px;
    height: 723.3px;
    margin-left: 206px;
    margin-top: 130px;
}
.banner-details{
    width: 416px;
    height: 400px;
    margin-left: 87px;
    margin-top: 369px;
}
.banner-title{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;

}
.banner-description{
    margin-top: 24px;
    /* top: 1296px; */
    font-weight: 400px;
    line-height: 26px;
    color: #444343;
}
.banner ul{
    list-style: none;
    color: #444343;
    padding-left: 0;
}

.banner ul li:before{
    content: '✓';
    color: green;
}
.my-plans{
    margin: 130px, 230px;
    width: 1141px;
    height: 299.96px;
}
